.achievement-fieldset {
  background-color: $gray-light;
  padding: 0;

  @media (max-width: $mobile-width-only) {
    padding-top: 50px;
  }

  @media (min-width: $tablet-width) {
    background-color: $white;
    flex-basis: 100%;
    order: 4;
  }

  @media (min-width: $desktop-width) {
    min-height: 230px;
  }
}

.achievement-fieldset__legend {
  @media (max-width: $mobile-width-only) {
    width: 232px;
    margin: 28px auto -90px;
  }
}

.achievement-fieldset__wrapper {
  padding: 40px 20px;

  @media (min-width: $tablet-width) {
    padding: 50px 0 30px 60px;
  }
}

.achievement-fieldset__list {
  padding: 0;
  margin: 0;
  list-style: none;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.achievement-fieldset__item {
  margin-bottom: 40px;

  @media (min-width: $desktop-width) {
    width: 255px;

    &--shark {
      order: 1;
    }

    &--chack {
      order: 2;
    }

    &--tower {
      order: 3;
    }

    &--sunburn {
      order: 4;
    }

    &--gift {
      order: 5;
    }

    &--hotel {
      order: 6;
    }
  }
}

.achievement-fieldset__label {
  cursor: pointer;
  text-align: left;
}

.achievement-fieldset__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.achievement-fieldset__input + .achievement-fieldset__label {
  display: flex;
  align-items: center;

  &::before {
    content: "";
    width: 35px;
    height: 35px;
    border: 2px solid $gray;
    border-radius: 1px;
    margin-right: 20px;
    background-color: $white;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    cursor: pointer;
  }
}

.achievement-fieldset__input:checked + .achievement-fieldset__label::before {
  background-image: url("../../img/tick.svg");
  background-repeat: no-repeat;
  background-position: center center;
}
