.contacts-fieldset__list {
  list-style: none;
}


.contacts-fieldset__label {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: rgba(210, 40, 86, 1);
}

.contacts-fieldset__input {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: rgba(40, 54, 69, 1);
}
