.contacts {
  text-align: center;

  @media (min-width: $tablet-width) {
    min-height: 780px;
  }

  @media (min-width: $desktop-width) {
    min-height: 880px;
  }
}

.contacts__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    padding: 0 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 130px;
    margin-bottom: 50px;
  }
}

.contacts__title {
  font-size: 24px;
  line-height: 29px;
  margin-top: 40px;

  @media (min-width: $tablet-width) {
    font-size: 40px;
    line-height: 54px;

    @media (min-width: $desktop-width) {
      font-size: 50px;
      line-height: 68px;
      margin-bottom: 50px;
    }
  }
}

.contacts__phone {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) and (max-width: $desktop-width-only) {
    flex-basis: 50%;
  }

  @media (min-width: $desktop-width) {
    order: 1;
  }
}

.contacts__email {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) and (max-width: $desktop-width-only) {
    flex-basis: 50%;
  }

  @media (min-width: $desktop-width) {
    order: 3;
  }
}

.contacts__address {
  width: 280px;
  margin: 0 auto 20px;

  @media (min-width: $tablet-width) and (max-width: $desktop-width-only) {
    flex-basis: 100%;
    padding: 0 220px;
  }

  @media (min-width: $desktop-width) {
    order: 2;
  }
}

.contacts__map {
  @media (min-width: $tablet-width) {
    object-fit: cover;
    width: 940px;
    height: 600px;
  }
}

.contacts__text {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  margin: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 17px;
  }
}

.contacts__link {
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: $pink;

  &--address {
    @media (min-width: $tablet-width) {
      width: 211px;
      margin: 0 auto;
    }
  }
}
