.contacts-fieldset {
  background-color: transparent;

  @media (min-width: $tablet-width) {
    flex-basis: 100%;
    order: 3;
    min-height: 350px;
  }

  @media (min-width: $desktop-width) {
    flex-basis: 100%;
    min-height: 150px;
  }
}

.contacts-fieldset__list {
  list-style: none;
}

.contacts-fieldset__legend {
  @media (max-width: $tablet-width) {
    display: none;
  }
}


.contacts-fieldset__label {
  text-transform: uppercase;
  font-size: 14px;
  color: $pink;
}

.contacts-fieldset__input {
  font: inherit;
  color: $blue-deep;
}
