.download-area {
  background-color: $blue-dark;
  color: $white;
}

.download-area__button {
  border: 3px solid $white;
  border-radius: 29px;
  font-weight: 700;
  color: inherit;
}

.download-area__description {
  font-size: 14px;
  line-height: 24px;
}
