.download-area {
  background-color: $blue-dark;
  color: $white;

  @media (min-width: $tablet-width) {
    /*Закомментировал для видимости background-color: transparent;*/
    background-color: black;
    min-height: 545px;
  }

  @media (min-width: $desktop-width) {
    min-height: 745px;
  }
}

.download-area__list {
  list-style: none;
  display: flex;
}

.download-area__button {
  border: 3px solid $white;
  border-radius: 29px;
  font-weight: 700;
  color: inherit;
}

.download-area__description {
  font-size: 14px;
  line-height: 24px;
}
