.download-area {
  position: relative;
  width: 100%;
  min-height: 730px;
  color: $white;
  background-color: $blue-deep;
  z-index: 0;
  margin-top: -60px;
  margin-bottom: 20px;


  @media (min-width: $tablet-width) {
    min-height: 545px;
    width: 100%;
    height: 730px;
    background-image: url("../../img/phone-back-tablet.png"), url("../../img/screen-back-tablet.jpg"), url("../../img/back-tablet.jpg");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: 0 bottom, 372px 241px, 0;
    background-size: auto, auto, cover;
    padding-top: 87px;
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    min-height: 853px;
    height: 730px;
    background-image: url("../../img/phone-back-desktop.png"), url("../../img/screen-back-desktop.jpg"), url("../../img/back-desktop.jpg");
    background-position: 149px bottom, 716px 273px, 0;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: auto, auto, cover;
    padding-top: 200px;
    margin-top: -110px;
  }
}

.download-area__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    width: 300px;
    margin-left: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 110px;
  }
}

.download-area__section {
  @media (max-width: $mobile-width-only) {
    position: relative;
    width: 100%;
    height: 460px;
    background-image: url("../../img/phone-back-mobile.png"), url("../../img/screen-back-mobile.jpg"), url("../../img/back-mobile.jpg");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: 0 bottom, 104px 207px, 0;
    background-size: auto, auto, cover;
    padding-top: 87px;
  }

  @media (min-width: $tablet-width) {
    width: 300px;
    padding: 0 27px;
    margin: 100px auto 40px auto;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.download-area__list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;

  @media (min-width: $desktop-width) {
    margin-bottom: 50px;
  }
}

.download-area__item {
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }

  &--apple {
    background-image: url("../../img/apple-logo.png");
    width: 47px;
    height: 56px;
  }

  &--android {
    background-image: url("../../img/android-logo.png");
    width: 43px;
    height: 47px;
  }

  &--windows {
    background-image: url("../../img/microsoft-logo.png");
    width: 44px;
    height: 41px;
  }
}

.download-area__button {
  width: 280px;
  height: 55px;
  border: 3px solid $white;
  border-radius: 29px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: inherit;
  padding: 15px 32px 15px 37px;
  margin: 28px auto 38px;

  @media (min-width: $tablet-width) {
    width: 300px;
    height: 55px;
    padding: 16px 43px;
    margin: 0 auto 40px auto;
  }

  @media (min-width: $desktop-width) {
    font-size: 21px;
    padding: 14px 25px 6px 28px;
    margin: 0 auto 60px auto;
  }
}

.download-area__description {
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }
}
