.download-area {
  background-color: rgba(29, 38, 49, 1);
  color: rgba(255, 255, 255, 1);
}

.download-area__button {
  border: 3px solid rgba(255, 255, 255, 1);
  border-radius: 29px;
  font-weight: 700;
  color: inherit;
}

.download-area__description {
  font-size: 14px;
  line-height: 24px;
}
