.features {
  background-color: rgba(242, 242, 242, 1);
}

.features__subtitle {
  background-color: white;
}

.features__list {
  list-style: none;
}

.features__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.features__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
