.features {
  background-color: $gray-light;
  min-height: 1000px;

  @media (min-width: $tablet-width) {
    min-height: 730px;
  }

  @media (min-width: $desktop-width) {
    min-height: 900px;
  }
}

.features__subtitle {
  background-color: $white;
}

.features__list {
  list-style: none;

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.features__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: $black;
}

.features__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
