.form {
  background-color: transparent;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  @media (min-width: $desktop-width) {
    justify-content: center;
    padding: 0 130px;
  }
}

.form__fieldset {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  border: 2px solid $gray;
  margin: 0;

  @media (max-width: $mobile-width-only) {
    border: none;
  }

  @media (min-width: $tablet-width) {
    width: 620px;
    margin: 0 16px 50px;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
  }
}

.form__submit {
  padding: 12px 43px;
  text-transform: uppercase;
  margin: 0 20px 40px;

  @media (min-width: $tablet-width) {
    order: 6;
  }
}

.form__legend {
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  color: $pink;

  @media (min-width: $tablet-width) {
    padding: 0 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 30px;
  }
}

.form__note {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  width: 300px;

  &--alarm {
    color: $pink;
  }

  @media (min-width: $tablet-width) {
    order: 7;
  }
}
