.form {
  background-color: transparent;
}

.form__fieldset {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.form__legend {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  color: $pink;
}

.form__note {
  text-transform: uppercase;
  font-size: 14px;

  &--alarm {
    color: $pink;
  }
}
