.form {
  background-color: transparent;
}

.form__legend {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: rgba(210, 40, 86, 1);
}

.form__note {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: rgb(40, 54, 69);

  &--alarm {
    color: rgb(210, 40, 86);
  }
}
