.form-button {
  background-color: rgba(42, 171, 109, 1);
  border: 2px solid rgba(42, 171, 109, 1);
  border-radius: 1px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: rgba(255, 255, 255, 1);
}
