.gallery {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.gallery__title {
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: $white;
}

.gallery__subtitle {
  line-height: 30px;
}

.gallery__list {
  list-style: none;
}
