.gallery {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.gallery__title {
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: $white;
  background-image: url("../../img/back-mobile.jpg");
  min-height: 200px;
  padding: 90px 40px;
  margin-top: -66px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-top: -110px;
    padding-top: 140px;
    font-size: 50px;
    line-height: 68px;
  }
}

.gallery__subtitle {
  line-height: 30px;
  padding: 50px 34px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    width: 530px;
    margin: 0 auto;
  }
}

.gallery__list {
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 130px;
  }
}
