.ident-fieldset {
  background-color: transparent;
  border: none;

  @media (min-width: $tablet-width) and (max-width: $desktop-width-only) {
    flex-basis: 100%;
    order: 1;
  }

  @media (min-width: $desktop-width) {
    width: 430px;
  }
}

.ident-fieldset__wrapper {
  display: flex;
  flex-direction: column;
  padding: 20px 20px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 10px 0 0 0;
  }
}

.ident-fieldset__list {
  list-style: none;
  padding: 0;

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.ident-fieldset__label {
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  margin: 0 auto 10px 15px;
  color: $pink;

  @media (min-width: $tablet-width) {
    margin: 10px 10px 10px 0;
  }
}

.ident-fieldset__input {
  width: 100%;
  height: 59px;
  font-size: 18px;
  border: 2px solid $gray;
  border-radius: 1px;
  padding: 15px 78px 15px 19px;
  color: $blue-deep;
}

.ident-fieldset__item {
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 57px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
