.main-nav {
  background-color: $blue-deep;
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  color: $white;
  text-transform: uppercase;
}

.main-nav__list {
  list-style: none;
}

.main-nav__item {
  box-shadow: 0 1px 0 $black, inset 0 1px 0 $white-transparent;
}

.main-nav__link {
  text-decoration: none;
  color: inherit;
}
