.main-nav {
  background-color: $blue-deep;
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  color: $white;
  text-transform: uppercase;

  @media (min-width: $desktop-width) {
    display: flex;
    background-color: $black-transparent;
  }
}

.main-nav__logo {
  @media (min-width: $desktop-width) {
    width: 250px;
  }
}

.main-nav__list {
  margin: 0;
  list-style: none;

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-around;
  }
}

.main-nav__item {
  box-shadow: 0 1px 0 $black, inset 0 1px 0 $white-transparent;
}

.main-nav__link {
  text-decoration: none;
  color: inherit;
}

.main-nav__toggle {
  @media (min-width: $desktop-width) {
    display: none;
  }
}
