.page-main {
  background-color: white;
  color: $blue-deep;
}

.page-main__text {
  text-align: center;
  font-weight: 300;
  min-height: 85px;
  line-height: 120%;
  margin: 0;
  padding: 0;
}

.page-main__slogan {
  color: $white;
  text-align: center;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 40px;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
    line-height: 68px;
    margin-bottom: 50px;
  }
}
