.page-main {
  background-color: white;
}

.page-main__text {
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  color: rgba(40, 54, 69, 1);
}

.page-main__slogan {
  color: white;
  background-color: gray;
}
