.pop-up__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
}

.pop-up__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(40, 54, 69, 1);
}
