.prices-table {
  border-collapse: collapse;
}

.prices-table__hedline {
  background-color: $blue-deep;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: $white;

  &--empty {
    visibility: hidden;
  }
}

.prices-table__name {
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
}

.prices-table__cell {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  background-color: $white;
  border: 2px solid $gray;
}

.prices__toggles-list {
  list-style: none;
}
