.reviews__list {
  list-style: none;
}

.reviews__autor {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  font-style: normal;
  color: $black;
}

.reviews__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
}

.reviews__toggles-list {
  list-style: none;
}
