@import "./normalize.scss";
@import "./fonts.scss";
@import "./global.scss";
@import "./blocks/visually-hidden.scss";
@import "./variables.scss";
@import "./blocks/page-body.scss";
@import "./blocks/page-header.scss";
@import "./blocks/main-nav.scss ";
@import "./blocks/page-main.scss";
@import "./blocks/download-area.scss";
@import "./blocks/features.scss";
@import "./blocks/slider.scss";
@import "./blocks/toggles-list.scss";
@import "./blocks/slider-toggle.scss";
@import "./blocks/additional-info.scss";
@import "./blocks/reviews.scss";
@import "./blocks/prices.scss";
@import "./blocks/prices-table.scss";
@import "./blocks/contacts.scss";
@import "./blocks/page-footer.scss";
@import "./blocks/footer-logo.scss";
@import "./blocks/footer-socials.scss";
@import "./blocks/site-creator.scss";
@import "./blocks/achievement-fieldset.scss";
@import "./blocks/comment-fieldset.scss";
@import "./blocks/contacts-fieldset.scss";
@import "./blocks/failure-pop-up.scss";
@import "./blocks/form-button.scss";
@import "./blocks/form.scss";
@import "./blocks/ident-fieldset.scss";
@import "./blocks/os-fieldset.scss";
@import "./blocks/pop-up.scss";
@import "./blocks/registration-page.scss";
@import "./blocks/success-pop-up.scss";
@import "./blocks/catalog-main.scss";
@import "./blocks/gallery.scss";
@import "./blocks/gallery-block.scss";
@import "./blocks/modify-form.scss";
@import "./blocks/upload.scss";
