// Начните писать стили здесь
@import "./global.scss";
@import "./blocks/page-body.scss";
@import "./blocks/page-header.scss";
@import "./blocks/main-nav.scss ";
@import "./blocks/page-main.scss";
@import "./blocks/download-area.scss";
@import "./blocks/features.scss";
@import "./blocks/slider.scss";
@import "./blocks/toggles-list.scss";
@import "./blocks/slider-toggle.scss";
@import "./blocks/reviews.scss";
@import "./blocks/button-prev.scss";
@import "./blocks/button-next.scss";
@import "./blocks/prices.scss";
@import "./blocks/contacts.scss";
@import "./blocks/page-footer.scss";
@import "./blocks/footer-logo.scss";
@import "./blocks/footer-socials.scss";
@import "./blocks/site-creator.scss";

