//colors
$black:rgba(0, 0, 0, 1);
$black-transparent:rgba($black, 0.3);
$white:rgba(255, 255, 255, 1);
$white-transparent:rgba($white, 0.15);
$blue-dark:rgba(29, 38, 49, 1);
$blue-deep:rgba(40, 54, 69, 1);
$blue-transparent:rgba($blue-deep, 0.1);
$gray-light:rgba(242, 242, 242, 1);
$gray:rgba(229, 229, 229, 1);
$pink:rgba(210, 40, 86, 1);
$green:rgba(42, 171, 109, 1);

//viewports
$tablet-width: 660px;
$desktop-width: 1200px;
